.parallax{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}